# 6/49 Lottery Analysis 

------

I'm personally not a big lottery player. However, just like everyone else, I like the idea of winning the lottery and having such a lot of money in just a night (if you are the winner). Some people play lottery for fun, but soon it becomes a habit which eventually turns into an addiction. Besides that the lottery company's marketing team is doing such a great job creating a belief of everyone can be a millionaire [Lottery Winners](https://www.playnow.com/lottery/winners/you-could-be-next/). In Ontario province, we have OLG which is the Ontario government agency that delivers lottery and gaming entertainment. They provide variety lottery games; for instance, [LOTTO MAX](https://www.olg.ca/en/lottery/play-lotto-max-encore.html) that reaches `$70 million` on Tuesday, June 22, 2021 and [LOTTO 6/49](https://www.olg.ca/en/lottery/play-lotto-649-encore/about.html) that always guarantes `$1 million` in every draw night and maximum with `$5 millio`n on Wednesday, June 22, 2021. 

In this analysis, we just focus on the **6/49** lottery, create some functions and find the insights from the data set [649](https://www.kaggle.com/datascienceai/lottery-dataset) on Kaggle that has 3,665 drawings from 1982 to 2018.

Through the analysis, we want to find the answers for the following questions:
* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 50 different tickets (or any different number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

# 6/49 Gameplay

--------

As the name implies, six numbers are drawn from a set of 49. if a ticke matches all six numbers, the jackpot prize of at least `$5 million` is won. There is a bonus number is drawn and if a player's ticket matches five numbers plus the bonus number then the player wins the "second prize" which is usually between `$100,000 and $500,000`.

In case there are more than one player win the top or second prize, it will be split amongst them. Lesser prizes are also awarded if one matches at least two numbers. If the top prize is not won, the jackpot prize increases for the next draw.

# Creating Functions

--------

From the 6/49 gameplay, we know how the game works. For example, if a player bought a ticket with the numbers {07,02,19,91,11,56}, he/she only wins the big prize if the six numbers on the tickets match all the drawn six numbers as {07,02,19,91,11,56} (the order does not matter).

* We will create a function that can calculate the probability of winning the big prize with the various numbers they play on a single ticket.

* Then we can compare their ticket with the historical lottery data and consider whether they might win or not. Since the data set consists of 3,665 drawings dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following 7 columns:

    - NUMBER DRAWN 1
    - NUMBER DRAWN 2
    - NUMBER DRAWN 3
    - NUMBER DRAWN 4
    - NUMBER DRAWN 5
    - NUMBER DRAWN 6
    - NUMBER DRAWN 7

* We want to create another function to check the number of times the combination selected occured in the 6/49 data set as well as the probability of winning the big prize in the next drawing with that combination.

* Besides the big prize, we can also win the smaller prizes if the players' ticket match at least two, three, four, or five of the six numbers drawn. Therefore, the players might be interested in knowing the probability of having these two, three, four, or five winning numbers.

    * In the function, the user can input:
        * six different numbers from 1 to 49
        * an interger between 2 and 5 that represents the number of winning numbers expected.
    * The function will print information about the probabity of having the input number of winning numbers.
    * The function will not return the probability of having at least five winning numbers.

# Summary

In this analysis, we will be creating four functions that can help us to understand the odds of winning the 6/49 lottery from the past data:


|    <strong>Functions</strong>        |  Description                                        |
|-------------------|-----------------------------------------------------|
|<strong>big_prize_proba() </strong>  | Calculates the probability of winnig the big prize with a one ticket    |   
|<strong>check_past_winning()</strong>         | Checks whether a certain combination has occurred in 6/49 data set     |   
|<strong>check_multi_proba()</strong>         | Calculates the probability for any number of the ticket  |
|<strong>check_less_6_proba()</strong>   |  Calculates the probability of having two, three, four, or five winning numbers  |

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("data/649.csv")

In [4]:
df

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45
...,...,...,...,...,...,...,...,...,...,...,...
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [5]:
# factorials
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

In [9]:
factorial(3)

6

In [17]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [18]:

#extract all the winning six numbers from the historical data
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row


winning_numbers = df.apply(extract_numbers, axis = 1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [26]:

#extract all the winning six numbers from the historical data
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row


winning_numbers = df.apply(extract_numbers, axis = 1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [28]:
df.values[4:10]

array([[649, 5, 0, '7/10/1982', 5, 14, 21, 31, 34, 47, 45],
       [649, 6, 0, '7/17/1982', 8, 20, 21, 25, 31, 41, 33],
       [649, 7, 0, '7/24/1982', 18, 25, 28, 33, 36, 42, 7],
       [649, 8, 0, '7/31/1982', 7, 16, 17, 31, 40, 48, 26],
       [649, 9, 0, '8/7/1982', 5, 10, 23, 27, 37, 38, 33],
       [649, 10, 0, '8/14/1982', 4, 15, 30, 37, 46, 48, 3]], dtype=object)